.row span {
    width: 50%;
    display: inline-flex;
    text-align: center;
}

.row span p {
    width: 100%;
    margin: 2px 0;
}

.row .table_row {

    border-bottom: 1px solid;
}

.row {
    border: 1px solid;
    border-bottom: 0px;
    position: absolute;
    left: 30%;
    width: 40%;
}

.row {
    position: relative;
}